.user_img{
    margin-top: 40px;
    height: 200px;
    width: 200px;
    float: left;
}

.like{
    margin-right: 10px;
}

.fa-heart{
    color: #13c121;
    margin-right:20px;
}

.fa-thumbs-down{
    color: #c11347;
}
